

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/inicio" class="navbar-brand">KingdomApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/saved">Kingdoms <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a  class="nav-link" routerLink="/new">New Kingdom</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isLoggedIn()">
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signup">Register</a></li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signin">Login</a></li>
        </ng-template>

        <li class="nav-item" routerLinkActive="active"><a
          class="nav-link"
          (click)="onLogout()"
          *ngIf="authService.isLoggedIn()">Logout</a></li>

      
      </ul>
      
        
  </div>
  
</nav> -->
<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">KingdomApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
       data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
       aria-expanded="false" aria-label="Toggle navigation"
       (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav mr-auto">

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/saved">Saved Kingdoms <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a  class="nav-link" routerLink="/new">New Kingdom</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <ng-template [ngIf]="!authService.isLoggedIn()">
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signup">Register</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signin">Login</a></li>
          </ng-template>
  
          <li class="nav-item" routerLinkActive="active"><a
            class="nav-link"
            (click)="onLogout()"
            *ngIf="authService.isLoggedIn()">Logout</a></li>
        </ul>
    </div>
</nav>
